.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup form {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 10px;
  background-color: rgb(0, 208, 255);
  width: 50vw;
  height: 80vh;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 8px 8px;
}

.signup form input {
  border: 1px solid white;
  height: 50px;
  width: 40vw;
  outline: none;
  background-color: transparent;
  color: white;
}

.signup form button {
  height: 50px;
  width: 40vw;
  background-color: rgb(3, 72, 72);
  color: white;
  border: none;
}
